[user]
	name = Samuel Factor
	email = sfxfactor@gmail.com
[credential]
	helper = chche --timeout=3600
	helper = osxkeychain
[color]
	ui = true
[alias]
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
